[Unit]
Description=Python accreditation system
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/accreditation_system/main.py
StandardInput=tty-force
WorkingDirectory=/usr/bin/accreditation_system
Restart=always

[Install]
WantedBy=multi-user.target
